#content {
    padding-top: 40px;
}

h1 {
    color: #F0542D;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: Semibold;

}

/* hr {
    width: 6px;
    height: 140px;
    background-color: #2d4af0;
    margin-top: 0;
} */

.content__about {
    padding: 80px;
}


.content__about-initial {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    margin: 10px;
}
.content__about-initial:hover {
    border: 1px solid #2d4af0;
}

.content__title {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 5px;
}

.content__title p {
    font-size: 17px;
}

.content__level {
    padding-left: 80px;
}

.content__level p {
    position: absolute;
    left: 195px;
    top: 170px;
    font-size: 17px;
}
.content__level b {
    font-size: 35px;
}

.content__level h2 {
    font-size: 30px;
    font-weight: Semibold;
    text-transform: uppercase;
}

.content__level__infor {
    position: relative;
}

.content__level__infor ul {
    list-style-type: none;
    
}
.content__level__infor ul li {
    padding: 20px;
    font-size: 17px;
}

.content__level__infor hr {
    width: 100px;
    position: absolute;
    left: 50;
}

.content__level__infor ul b {
    font-size: 35px;
}

@media (max-width:500px) {
    img {
        width: 80%;

    }
    .content__level p {
        margin-left: -20px;
        margin-top: -10px;
    }
}

@media(max-width: 760px) {
    .content__title p,h3 {
        font-size: 100%;
    }
    img{
        width: 60%;
    }
    .content__level__title p {
        padding-left: -30px;
    } 
    .content__level__title p, h2 {
        width: 80%;
    }


}
@media (max-width:992px) {
    .content__level p {
        margin-left: -60px;
        margin-top: -60px;
    }
}