#content {
    padding-top: 40px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F0542D;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

hr {
    width: 70px;
    height:1px;
    background-color: #047CFF;
}

button.content__introduction_button_middle {
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #047CFF;
    border-radius: 20px;
    color: #047CFF;
    font-weight: bold;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    padding-top: 9px;
    padding-left: 20px;
}

button:hover {
    background-color: #a6ada6;
}

.content__introduction {
    padding-top: 20px;
}

.content__introduction p {
    margin: 20px 60px;
    text-align: center;
    font-size: 17px;
}

.content__solution .card-img-top {
    width: 94px;
    height: 79px;
    margin: 0 auto;  
}

.content__solution {
    padding-top: 20px;
    padding-bottom: 40px;
}
.content__solution__middle{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 19%);
}
.content__solution__middle:hover {
    border: #047CFF;
}

.card {
    border: 0;
    padding: 10px;
}

.card-body {
    padding: 5px 30px;
    text-align: center;
}
.card-title {
    color: #047CFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.card-text {
    font-size: 12px;
}

.content__outstanding__service {
    background-color: #EBF5FF;
    padding-top: 30px;
}

.content__outstanding__service h1 {
    text-align: center;
    color: #047CFF;
}
.content__outstanding__service__image {
    width: 100%;
}

.content__outstanding__service__right {
    padding-top: 20px;
    padding-right: 170px;
    padding-left: 50px;
}

.content__outstanding__service__right a {
    color: #047CFF;
    font-weight: bold;
    font-size: 20px;
}

.content__outstanding__service__right p {
    font-size: 17px;
}

.content__outstanding__service__right hr{
    width: 400px;
}

.content__outstanding__service__right button {
    margin-left: 70px;
}

.content__outstanding__service__icon {
    width:auto;
    height:auto;
}

.content__custom {
    padding-top: 30px;
}

.content__custom .card-img-top {
    width: 211px;
    height: 122px;
}

/* .content__custom .row {
    margin-left: ;
} */