#content {
    padding-top: 40px;
}

a {
    text-decoration: none;
    cursor: pointer;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F0542D;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

h5 {
    font-size: 14px;
    text-align: center;
}

hr {
    width: 70px;
    height:1px;
    background-color: #047CFF;
}

.content__solution .padding {
    padding-top: 30px;
}

.card {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 19%);
}

.card:hover {
    border-color: #047CFF;
}

.card-text {
    text-align: center;
}

button{
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #047CFF;
    border-radius: 20px;
    color: #047CFF;
    font-weight: bold;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    padding-top: 9px;
    padding-left: 20px;
}

button:hover {
    background-color: #a6ada6;
}

.content__solution .card-img-top {
    width: 85px;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px;
}

.content__solution h2 {
    padding-top: 20px;
}

.services__title {
    color:#047CFF;
}

.services__img {
    padding-top: 30px;
}

.service__button {
    margin-left: 83px;
    margin-top: -10px;
}

.service__list a {
    color:#047CFF;
    font-size: 20px;
}

.service__list .service__text {
    line-height: 1;
}

.custom {
    padding-top: 50px;
}

.custom .custom__title {
    color: #047CFF;
}

.custom__sponsor {
    padding-top: 10px;
}

.custom__sponsor__kh {
    padding: 36px;
}

.new {
    max-width: 100%;
}

.new .card-img-top {
    width: 95%;
    margin-left: 7px;
    
}

.new__card a {
    color: #ffffff;
}

.new__card p {
    color: #ffffff;
    font-size: 11px;
}

.new .card-img-top:hover {
    border-color: #5894d4;
}

.new__card {
    background-color: #59abc0;
}

.new__button {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width:1020px) {
    #content {
        margin-top: -630px;
    }
    h1,h2,p,h5 {
        font-size: 95%;
    }
    .content__solution .card {
        width: 115%;
    }
    .services__img {
        width: 80%;
        margin: 0 auto;
    }

    .new__card {
        width: 115%;
    }

    .content__service__info {
        padding: 0px 40px;
    }

    .custom__sponsor__kh img {
        width: 70%;
    }
}
@media(max-width: 600px) {
    h1,h2,p,h5 {
        font-size: 90%;
    }
    #content {
        padding-top: 150px;
    }
    .content__introduction p {
        padding: 0px 35px;
    }
    .content__solution .card {
        width:  80%;
        margin: 0 auto;

    }
    .content__service h1 {
        font-size: 80%;
    }

    .services__img {
        width: 90%;
    }

    .custom__sponsor__kh {
        width: 50%;  
    }
    .custom__sponsor__kh img {
        width: 90%;
    }
}
@media (max-width:400px) {
    #content {
        padding-top: 180px;
    }
}

/* @media (max-width:992px) {
    .card {
        width: 115%;
    }
    .card-img-top {
        
    } */

