/*content*/
hr {
    width: 80px;
    height: 2px;
    background-color: #047CFF;
}

button {
    width: 150px;
    height: 50px;
    text-align: center;
    color: #047CFF;
    border: 1px solid #047CFF;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: 30px;


}

.content {
    max-width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-left: 390px;
    margin-right: 390px;
    position: relative;
}

.content__title {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F0542D;
}


span {
    color: #047CFF;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 325px ;
}



.content__introducion p {
    margin: 0px 60px 0px 60px;
    font-size: 16px;
    text-align: center;
}

.content__gt {
    
}
/*end-content*/

.content__fiture__service {
    height: 736px;
    width: 100%;
    background-color: #EBF5FF;
}

.content__customer .content__customer-client {
    display: flex;
}

.content__customer .content__customer-client .card {
    margin: 20px;
}
