.card .card-img-top {
    width:110px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.content {
    width: 100%;
    height: 600px;
    background-color: #004E9E;
}

.container {
    padding-top: 50px;
}

.container .content__title {
    font-size: 30px;
    color: #FEBF02;
}

.container .col-12 p {
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
}

.col-lg-4 {
    padding-top: 60px;
    border-radius: 10%;
}

.card {
    height: 460px;
    border-radius: 4%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 19%);

}

.card-text {
    text-align: center
}

.card p {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 15px;

}

.card:hover {
    box-shadow: 1px 1px 1px #004E9E;
}

.card .card-body {
    padding-top: 30px;
}

.card .card-title {
    font-size: 20px;
    font-weight: Semibold;
    text-transform: uppercase;
    text-align: center;
}





