/* #content {
    position: relative;
} */


#content h2, h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

#content h2 {
    padding: 40px;
    color: #047CFF;
    font-weight: Semibold;
}

#content .container__top p {
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

hr {
    width: 10%;
    height: 2px;
    background-color: #047CFF;
}

.container__text {
    font-size: 30px;
}

