#footer {
    width: 100%;
    background-color: #004E9E;
    color: #ffffff;
    
}

.footer__title {
    text-transform: uppercase;
}

.footer_information {
    font-size: 20px;
    padding-top: 48px;
}


.footer__list ul {
    list-style: none;
}

.footer__list ul li {
    padding: 5px; 
    margin-left: -45px ;
}

.footer__list ul text {
    padding-left: 5px;
    font-size: 14px;
}

.footer__list ul .icon__phone {
    font-weight: bold;
}

.footer__right {
    padding-top: 50px;
}

.footer__copyright {
    height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #003A75;
    padding-top: 15px;
    margin-top: 25px;
}
