#header {
    position: relative;
}

#icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: 420px;
    display: none; 
}

@media (max-width: 1200px) {
    .header__logo {
        width: 100%;
    }
    #navbarSupportedContent ul {
        margin-right: 20px;
    }

    #navbarSupportedContent a {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #icon {
        display: block;

    }
    #navbarSupportedContent ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: 0;
        text-align: center;
    }
    #navbarSupportedContent a {
        font-size: 12px;
    }

    #navbarSupportedContent li {
        /* display: block; */
        line-height: 30px;
        margin: 50px 0;
    }
}

.header__menu {
    position: absolute;
    z-index: 1;
}

.header__logo {
    width: 108px;
    height: 52.95px;
}

#navbarSupportedContent {
    padding-left: 40px;

}


.nav-link {
    font-size: 16px;
    margin: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.nav-link:hover {
    color: #FFC954;
}

.nav-item .dropdown-menu {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.dropdown-item {
    display: block;
    width: 100%;
    background-color: #ffffff;

    border: 0;
    font-weight: bold;
}

.dropdown-item:hover {
    color: #FFC954;
}


